.env
__pycache__/
venv/
.DS_Store
migrations/
*.db
alembic.ini
*.zip
*.png
assets/img/itemdb/**/*.png
assets/fonts/**/*.*
assets/fonts/alagard.ttf
assets/fonts/droptrackerfont.ttf
assets/fonts/item-mapping.csv
assets/fonts/nucleo-icons.eot
assets/fonts/nucleo-icons.svg
assets/fonts/nucleo-icons.ttf
assets/fonts/nucleo-icons.woff
assets/fonts/nucleo-icons.woff2
assets/fonts/nucleo.eot
assets/fonts/nucleo.ttf
assets/fonts/nucleo.woff
assets/fonts/nucleo.woff2
assets/fonts/pgf.ttf
assets/fonts/pgf1.ttf
assets/fonts/recent-mapping.csv
assets/fonts/ropstone.ttf
assets/fonts/runescape_uf.ttf