aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.2
alembic==1.14.0
annotated-types==0.7.0
anyio==4.7.0
asynciolimiter==1.1.1
attrs==24.2.0
certifi==2024.12.14
charset-normalizer==3.4.0
croniter==5.0.1
discord-py-interactions==5.13.2
discord-typings==0.9.0
emoji==2.14.0
fastapi==0.115.6
frozenlist==1.5.0
greenlet==3.1.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.10
Mako==1.3.8
MarkupSafe==3.0.2
msgspec==0.18.6
multidict==6.1.0
pillow==11.0.0
priority==2.0.0
propcache==0.2.1
psutil==6.1.1
pydantic==2.10.4
pydantic_core==2.27.2
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
redis==5.2.1
requests==2.32.3
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.36
starlette==0.41.3
tomli==2.2.1
typing_extensions==4.12.2
urllib3==2.2.3
wom.py==1.0.1
wsproto==1.2.0
yarl==1.18.3
